app-background{
    background-image: url(https://images.pexels.com/photos/4421545/pexels-photo-4421545.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    height: 100vh;
    
}