<ion-header>
 
  <ion-toolbar  class="toolbar-color"> 
    <ion-title>Appointment App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background">
  <section > 
    

     <h2>Dr.Doctor Name <br>
     </h2>
     <h4>Appointment app clinic</h4>
  </section>
  <ion-grid>
      <ion-row>
          <ion-col col-4>
              <ion-card text-center padding>
                  <ion-icon name="person" size="large"></ion-icon>
                  <h2>Profile</h2>
              </ion-card>
          </ion-col>

          <ion-col col-4>
            <ion-card text-center padding>
              <ion-icon name="medkit-outline" size="large"></ion-icon>
                <h2>Bookings</h2>
            </ion-card>
          </ion-col>

          <ion-col col-4>
            <ion-card text-center padding>
                <ion-icon name="calendar-number-outline" size="large"></ion-icon>
                <h2>Availability</h2>
            </ion-card>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>
            <ion-card text-center padding>
              <ion-icon name="people-outline" size="large"></ion-icon>
                <h2>About Us</h2>
            </ion-card>
        </ion-col>

        <ion-col col-4>
          <ion-card text-center padding>
            <ion-icon name="happy-outline" size="large"></ion-icon>
              <h2>Categories</h2>
          </ion-card>
        </ion-col>

        <ion-col col-4>
          <ion-card text-center padding>
            <ion-icon name="call-outline" size="large"></ion-icon>
              <h2>Contactr us</h2>
          </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
          <ion-card text-center padding>
              <ion-icon name="person" size="large"></ion-icon>
              <h2>Profile</h2>
          </ion-card>
      </ion-col>

      <ion-col col-4>
        <ion-card text-center padding>
            <ion-icon name="person" size="large"></ion-icon>
            <h2>Profile</h2>
        </ion-card>
      </ion-col>

      <ion-col col-4>
        <ion-card text-center padding>
            <ion-icon name="person" size="large"></ion-icon>
            <h2>Profile</h2>
        </ion-card>
      </ion-col>
  </ion-row>
  </ion-grid>
  <ion-button class="center" > Book an appointment</ion-button>
</ion-content>
