<ion-content>
    <ion-button routerLink="/login"> login</ion-button>
    <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title class="text-right">
            Availability
          </ion-title>
        </ion-toolbar>
        
      </ion-header>
      
      <div class="center">
        <section>
           <img src="https://images.pexels.com/photos/6129507/pexels-photo-6129507.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
      
           <h2>Dr.Doctor Name <br>
           </h2>
           <h4>Appointment app clinic</h4>
        </section>
        <ion-card>
          <ion-card-header>
            <ion-title class="card-title text-center">
               We are available on
            </ion-title>
          </ion-card-header>
          <ion-card-content>
             <ion-list>
               <ion-item>
                  <ion-label>
                    Monday          09:00 AM - 07:00 PM
                  </ion-label>
               </ion-item>
        
               <ion-item>
                  <ion-label>
                    Tueday         09:00 AM - 07:00 PM
                  </ion-label>
                </ion-item>
        
                <ion-item>
                  <ion-label>
                    Wednesday         09:00 AM - 07:00 PM
                  </ion-label>
                </ion-item>
        
                <ion-item>
                  <ion-label>
                    Thursday         09:00 AM - 07:00 PM
                  </ion-label>
                </ion-item>
        
                <ion-item>
                  <ion-label>
                    Friday        09:00 AM - 05:00 PM
                  </ion-label>
                </ion-item>
        
                <ion-item>
                  <ion-label>
                    Saturday         09:00 AM - 01:00 PM
                  </ion-label>
                </ion-item>
        
                <ion-item>
                  <ion-label>
                    Sunday        Holiday
                  </ion-label>
                </ion-item>
                
             </ion-list>
          </ion-card-content>
          <ion-card-subtitle class="text-center">
            <span class="subtitle">Lunch time </span> 01:00PM - 02:00PM Everyday
          </ion-card-subtitle>
          <ion-button class="center" routerLink="/tabs/tab2"> Book an appointment</ion-button>
        </ion-card>
      </div>
      

</ion-content>