<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Availability</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="center" style="background-color:  #b7e1dd;">
    <section class="header-titles">
      <img
        src="https://images.pexels.com/photos/6129507/pexels-photo-6129507.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=100%"
        alt="">

    </section>
    <ion-card>
      <ion-card-header>
        <ion-title class="card-title text-center">
          We are available on
        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <div class="container">
          <ion-list lines="none">
            <ion-item>
              <ion-label slot="start">
                Monday
              </ion-label>
              <ion-label slot="end">
                09:00 AM - 07:00 PM
              </ion-label>

            </ion-item>

            <ion-item>
              <ion-label slot="start">
                Tuesday
              </ion-label>
              <ion-label slot="end">
                09:00 AM - 07:00 PM
              </ion-label>

            </ion-item>

            <ion-item>
              <ion-label slot="start">
                Wednesday
              </ion-label>
              <ion-label slot="end">
                09:00 AM - 07:00 PM
              </ion-label>

            </ion-item>

            <ion-item>
              <ion-label slot="start">
                Thursday
              </ion-label>
              <ion-label slot="end">
                09:00 AM - 07:00 PM
              </ion-label>

            </ion-item>

            <ion-item>
              <ion-label slot="start">
                Friday
              </ion-label>
              <ion-label slot="end">
                09:00 AM - 05:00 PM
              </ion-label>

            </ion-item>

            <ion-item>
              <ion-label slot="start">
                Saturday
              </ion-label>
              <ion-label slot="end">
                09:00 AM - 01:00 PM
              </ion-label>

            </ion-item>

            <ion-item>
              <ion-label slot="start">
                Sunday
              </ion-label>
              <ion-label slot="end">
                Holiday
              </ion-label>

            </ion-item>

          </ion-list>
        </div>

      </ion-card-content>
      <ion-card-subtitle class="text-center">
        <span class="subtitle">Lunch time </span> 01:00PM - 02:00PM Everyday
      </ion-card-subtitle>
      <ion-button class="center"> Book an appointment</ion-button>
    </ion-card>
  </div>

</ion-content>